@import url("https://fonts.googleapis.com/css2?family=EB+Garamond&family=Mochiy+Pop+One&family=Montserrat:ital,wght@0,300;0,400;1,200&display=swap");
*,
*:before,
*:after {
  box-sizing: border-box;
}

html,
body,
div,
span,
object,
iframe,
figure,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
code,
em,
img,
small,
strike,
strong,
sub,
sup,
tt,
b,
u,
i,
ol,
ul,
li,
fieldset,
form,
label,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
main,
canvas,
embed,
footer,
header,
nav,
section,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  text-size-adjust: none;
}

img {
  border-style: none;
  max-width: 100%;
  height: auto;
  display: block;
}

html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
main {
  display: block;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input {
  border-radius: 0;
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/* Text-level semantics
   ========================================================================== */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent;
  text-decoration: none;
  color: #000;
  display: block;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  text-decoration: underline dotted;
  /* 2 */
}

/**
  * Prevent `sub` and `sup` elements from affecting the line height in
  * all browsers.
  */
b,
strong {
  font-weight: bolder;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/**
* Remove the inheritance of text transform in Edge, Firefox, and IE.
* 1. Remove the inheritance of text transform in Firefox.
*/
button,
select {
  /* 1 */
  text-transform: none;
}

/**
* Show the overflow in IE.
* 1. Show the overflow in Edge.
*/
button,
input {
  /* 1 */
  overflow: visible;
}

/**
* Correct the inability to style clickable types in iOS and Safari.
*/
button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

/**
  * Remove the inner border and padding in Firefox.
  */
button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
  * Restore the focus styles unset by the previous rule.
  */
button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
  * Correct the padding in Firefox.
  */
fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */
}

progress {
  vertical-align: baseline;
}

/**
  * Remove the default vertical scrollbar in IE 10+.
  */
textarea {
  overflow: auto;
}

[type=checkbox],
[type=radio] {
  box-sizing: border-box;
  /* 1 */
  /* 2 */
}

/**
* Correct the cursor style of increment and decrement buttons in Chrome.
*/
[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

/**
* 1. Correct the odd appearance in Chrome and Safari.
* 2. Correct the outline style in Safari.
*/
[type=search] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
* Remove the inner padding in Chrome and Safari on macOS.
*/
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
* 1. Correct the inability to style clickable types in iOS and Safari.
* 2. Change font properties to `inherit` in Safari.
*/
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/* Interactive
  ========================================================================== */
/*
* Add the correct display in Edge, IE 10+, and Firefox.
*/
details {
  display: block;
}

/*
* Add the correct display in all browsers.
*/
summary {
  display: list-item;
}

/* Misc
  ========================================================================== */
/**
* Add the correct display in IE 10+.
*/
template {
  display: none;
}

/**
* Add the correct display in IE 10.
*/
[hidden] {
  display: none;
}

.home-nav {
  display: grid;
  place-content: center;
}
.home-nav .container {
  display: grid;
  place-content: center;
  width: 100%;
}
.home-nav .container .logo {
  display: grid;
  place-content: center;
  object-fit: cover;
}
.home-nav .container .logo img {
  width: 10rem;
}
@media screen and (min-width: 992px) {
  .home-nav .container .logo img {
    width: 8rem;
  }
}
.home-nav .container .mobile-link {
  display: grid;
  place-content: center;
}
.home-nav .container .mobile-link .ul-links {
  display: flex;
  align-items: center;
  width: 100%;
  gap: 6vw;
}
.home-nav .container .mobile-link .ul-links li {
  font-size: 1rem;
  color: #1d3858;
  font-family: "Montserrat";
}
.home-nav .container .mobile-link .ul-links li .box-form {
  background-color: #662483;
  padding: 1.25vw;
  padding-left: 2.2vw;
  padding-right: 2.2vw;
  color: white;
}
@media screen and (min-width: 992px) {
  .home-nav .container .mobile-link .ul-links {
    display: none;
  }
}
.home-nav .container .links .ul-links {
  display: none;
}
@media screen and (min-width: 992px) {
  .home-nav .container .links .ul-links {
    display: flex;
    align-items: center;
    width: 100%;
    gap: 6vw;
  }
  .home-nav .container .links .ul-links li {
    font-size: 0.8vw;
    color: #1d3858;
    font-family: "Montserrat";
  }
  .home-nav .container .links .ul-links li .box-form {
    background-color: #662483;
    padding: 0.7vw;
    padding-left: 2.2vw;
    padding-right: 2.2vw;
    color: white;
  }
}

.hero-vid .container .video img {
  width: 100%;
  height: 80vw;
  object-fit: cover;
}
@media screen and (min-width: 992px) {
  .hero-vid .container .video img {
    width: 100%;
    height: 30vw;
    object-fit: cover;
  }
}

.join-cta {
  display: grid;
  place-content: center;
  position: relative;
  align-items: center;
}
.join-cta .container {
  display: grid;
  place-items: center;
}
.join-cta .container .bg-texture {
  display: grid;
  place-items: center;
  align-items: center;
}
.join-cta .container .bg-texture img {
  width: 200vw;
  object-fit: cover;
}
@media screen and (min-width: 992px) {
  .join-cta .container .bg-texture img {
    width: 130vw;
  }
}
.join-cta .container .join-txt {
  display: grid;
  justify-items: center;
  align-items: center;
  position: absolute;
  top: 1vw;
}
.join-cta .container .join-txt .join-title {
  z-index: 9999;
}
.join-cta .container .join-txt .join-title h1 {
  font-family: "mayoritte";
  font-size: 8.5vw;
  color: #fef7f1;
  text-align: center;
}
@media screen and (min-width: 992px) {
  .join-cta .container .join-txt .join-title h1 {
    font-size: 6.5vw;
  }
}
.join-cta .container .join-txt .join-p p {
  font-family: "Montserrat";
  text-align: center;
  display: none;
  margin-top: 1.5vw;
  color: #fef7f1;
  font-size: 3vw;
}
@media screen and (min-width: 992px) {
  .join-cta .container .join-txt .join-p p {
    display: block;
    width: 35rem;
    font-size: 1.25vw;
    line-height: 2vw;
  }
}
.join-cta .container .join-txt button {
  font-family: "Montserrat";
}

.who-we-are .container .who-all {
  display: grid;
  place-content: center;
  align-items: center;
  gap: 2vw;
}
@media screen and (min-width: 992px) {
  .who-we-are .container .who-all {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2vw;
    width: 100%;
  }
}
.who-we-are .container .who-all .who-title h1 {
  font-family: "Mochiy Pop One", sans-serif;
  font-weight: 100;
  font-size: 4.5vw;
  color: #1d3858;
  line-height: 8vw;
  letter-spacing: 0.9vw;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .who-we-are .container .who-all .who-title h1 {
    font-size: 3vw;
  }
}
@media screen and (min-width: 992px) {
  .who-we-are .container .who-all .who-title h1 {
    font-size: 3vw;
  }
}
.who-we-are .container .who-all .who-desc {
  width: 100%;
}
@media screen and (min-width: 992px) {
  .who-we-are .container .who-all .who-desc {
    width: 70%;
  }
}
.who-we-are .container .who-all .who-desc p {
  color: #1d3858;
  font-size: 3.5vw;
  font-weight: 500;
  font-family: "Montserrat";
  text-align: center;
}
@media screen and (min-width: 768px) {
  .who-we-are .container .who-all .who-desc p {
    font-size: 2.2vw;
    line-height: 4vw;
  }
}
@media screen and (min-width: 992px) {
  .who-we-are .container .who-all .who-desc p {
    text-align: left;
    font-size: 1vw;
    line-height: 2vw;
  }
}

.big-image img {
  width: 100%;
  height: 30vh;
  object-fit: cover;
}
@media screen and (min-width: 992px) {
  .big-image img {
    width: 100%;
    height: 40vh;
    object-fit: cover;
  }
}

footer {
  background-color: #1d3858;
}
footer .footer-all {
  display: grid;
  place-items: center;
}
@media screen and (min-width: 992px) {
  footer .footer-all {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
footer .footer-all .logo-foot img {
  width: 43vw;
}
@media screen and (min-width: 768px) {
  footer .footer-all .logo-foot img {
    width: 18vw;
  }
}
@media screen and (min-width: 992px) {
  footer .footer-all .logo-foot img {
    width: 13vw;
  }
}
footer .footer-all .desc-foot {
  width: 100%;
}
@media screen and (min-width: 992px) {
  footer .footer-all .desc-foot {
    width: 50%;
  }
}
footer .footer-all .desc-foot p {
  font-size: 0.8rem;
  margin-bottom: 2vw;
  margin-left: 3rem;
  margin-right: 3rem;
  font-family: "Montserrat";
  color: #fef7f1;
  text-align: center;
}
@media screen and (min-width: 992px) {
  footer .footer-all .desc-foot p {
    margin-left: 5rem;
    margin-right: 5rem;
  }
}
@media screen and (min-width: 992px) {
  footer .footer-all .desc-foot p {
    font-size: 0.8vw;
    text-align: left;
    line-height: 1.25vw;
    margin-bottom: 0vw;
  }
}

.programs .container h1 {
  font-size: 5vw;
  font-family: "Montserrat";
  color: #1d3858;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .programs .container h1 {
    font-size: 2.5vw;
  }
}
@media screen and (min-width: 992px) {
  .programs .container h1 {
    font-size: 2vw;
  }
}
.programs .container .schedule-all .sch-title {
  position: relative;
}
.programs .container .schedule-all .sch-title h2 {
  font-family: "mayoritte";
  font-size: 8.5vw;
  color: #876745;
}
@media screen and (min-width: 768px) {
  .programs .container .schedule-all .sch-title h2 {
    font-size: 5.5vw;
  }
}
@media screen and (min-width: 992px) {
  .programs .container .schedule-all .sch-title h2 {
    font-size: 4.5vw;
  }
}
.programs .container .schedule-all .sch-title .decor-box {
  position: absolute;
  width: 70%;
  height: 25px;
  left: 40px;
  z-index: -1;
  margin-top: -4vw;
  background: rgba(247, 204, 163, 0.39);
}
@media screen and (min-width: 992px) {
  .programs .container .schedule-all .sch-title .decor-box {
    width: 40%;
    height: 45px;
    margin-top: -2vw;
    left: 60px;
  }
}
.programs .container .schedule-all .sch-title .sch-img {
  display: grid;
  place-items: center;
}
.programs .container .schedule-all .sch-title .sch-img img {
  width: 100vw;
  object-fit: cover;
}
@media screen and (min-width: 992px) {
  .programs .container .schedule-all .sch-title .sch-img img {
    width: 50vw;
  }
}
.programs .container .schedule-all .sch-title .sch-img .desc {
  display: grid;
  place-items: center;
}
.programs .container .schedule-all .sch-title .sch-img .desc p {
  width: 100%;
  font-family: "Montserrat";
  font-size: 3.5vw;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .programs .container .schedule-all .sch-title .sch-img .desc p {
    font-size: 2.25vw;
  }
}
@media screen and (min-width: 992px) {
  .programs .container .schedule-all .sch-title .sch-img .desc p {
    font-size: 1.25vw;
    width: 60%;
  }
}
.programs .container .schedule-all .sch-title .sch-img .desc .buttons {
  display: grid;
  place-content: center;
  width: 3vw;
}
@media screen and (min-width: 992px) {
  .programs .container .schedule-all .sch-title .sch-img .desc .buttons {
    display: flex;
    gap: 3vw;
  }
}
.programs .container .class-all .class-title {
  position: relative;
}
.programs .container .class-all .class-title h2 {
  font-family: "mayoritte";
  font-size: 8.5vw;
  color: #876745;
}
@media screen and (min-width: 768px) {
  .programs .container .class-all .class-title h2 {
    font-size: 5.5vw;
  }
}
@media screen and (min-width: 992px) {
  .programs .container .class-all .class-title h2 {
    font-size: 4.5vw;
  }
}
.programs .container .class-all .class-title .decor-box {
  position: absolute;
  width: 70%;
  height: 25px;
  left: 40px;
  z-index: -1;
  margin-top: -4vw;
  background: rgba(247, 204, 163, 0.39);
}
@media screen and (min-width: 992px) {
  .programs .container .class-all .class-title .decor-box {
    width: 40%;
    height: 45px;
    margin-top: -2vw;
    left: 60px;
  }
}
.programs .container .class-all .class-title .class-list {
  display: grid;
  place-items: center;
}
@media screen and (min-width: 768px) {
  .programs .container .class-all .class-title .class-list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 3vw;
    align-items: center;
  }
}
.programs .container .class-all .class-title .class-list .class-single {
  display: grid;
  place-items: center;
  margin-top: 6vw;
}
.programs .container .class-all .class-title .class-list .class-single img {
  width: 40vw;
  margin-top: 8vw;
}
@media screen and (min-width: 768px) {
  .programs .container .class-all .class-title .class-list .class-single img {
    width: 25vw;
  }
}
@media screen and (min-width: 992px) {
  .programs .container .class-all .class-title .class-list .class-single img {
    width: 15vw;
    margin-top: 3vw;
  }
}
.programs .container .class-all .class-title .class-list .class-single h3 {
  font-size: 4.5vw;
  text-align: center;
  color: #1d3858;
  margin-top: 8vw;
  font-family: "Montserrat";
}
@media screen and (min-width: 768px) {
  .programs .container .class-all .class-title .class-list .class-single h3 {
    font-size: 3.5vw;
  }
}
@media screen and (min-width: 992px) {
  .programs .container .class-all .class-title .class-list .class-single h3 {
    font-size: 1.5vw;
    margin-top: 3vw;
  }
}
.programs .container .class-all .class-title .class-list .class-single p {
  font-size: 3.5vw;
  text-align: center;
  color: #1d3858;
  font-family: "Montserrat";
}
@media screen and (min-width: 768px) {
  .programs .container .class-all .class-title .class-list .class-single p {
    font-size: 2vw;
  }
}
@media screen and (min-width: 992px) {
  .programs .container .class-all .class-title .class-list .class-single p {
    font-size: 1.25vw;
  }
}

.container .video-wrapper .vimeo-container {
  padding: 56.25% 0 0 0;
  position: relative;
}
.container .video-wrapper .vimeo-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
@media screen and (min-width: 992px) {
  .container .video-wrapper {
    padding-top: 5rem;
  }
}

.show-case .container h1 {
  font-size: 5vw;
  font-family: "Montserrat";
  color: #1d3858;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .show-case .container h1 {
    font-size: 2.5vw;
  }
}
@media screen and (min-width: 992px) {
  .show-case .container h1 {
    font-size: 2vw;
  }
}
.show-case .container .show-videos {
  display: grid;
  place-items: center;
  gap: 2vw;
}
@media screen and (min-width: 768px) {
  .show-case .container .show-videos {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}
@media screen and (min-width: 1200px) {
  .show-case .container .show-videos {
    gap: 1vw;
    display: flex;
  }
}
.show-case .container .show-videos .single-video iframe {
  width: 75vw;
  height: 50vw;
}
@media screen and (min-width: 992px) {
  .show-case .container .show-videos .single-video iframe {
    width: 25vw;
    height: 20vw;
  }
}
@media screen and (min-width: 1200px) {
  .show-case .container .show-videos .single-video iframe {
    width: 19vw;
    height: 18vw;
  }
}

.home-contact {
  position: relative;
}
.home-contact .contact-bg {
  position: absolute;
  bottom: 0;
  right: 0;
  top: -8.5rem;
  transform: rotate(0deg);
  z-index: -1;
}
@media screen and (min-width: 1920px) {
  .home-contact .contact-bg {
    top: -1.5rem;
  }
}
@media screen and (min-width: 1200px) {
  .home-contact .contact-bg img {
    width: 30rem;
  }
}
.home-contact .container h1 {
  font-size: 5vw;
  font-family: "Montserrat";
  color: #1d3858;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .home-contact .container h1 {
    font-size: 3vw;
  }
}
@media screen and (min-width: 992px) {
  .home-contact .container h1 {
    font-size: 2vw;
  }
}
.home-contact .container .contact-list {
  display: grid;
}
@media screen and (min-width: 992px) {
  .home-contact .container .contact-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
.home-contact .container .contact-list .form .little-txt {
  font-family: "Montserrat";
  color: 1d3858;
  text-align: center;
  font-size: 0.8rem;
}
.home-contact .container .contact-list .form form p {
  font-size: 3.8vw;
  margin-top: 6vw;
  font-family: "Montserrat";
  color: #876745;
  width: 60%;
}
@media screen and (min-width: 768px) {
  .home-contact .container .contact-list .form form p {
    font-size: 2.8vw;
  }
}
@media screen and (min-width: 992px) {
  .home-contact .container .contact-list .form form p {
    font-size: 0.8vw;
    margin-top: 2vw;
  }
}
.home-contact .container .contact-list .form form .input {
  border: none;
  border-bottom: 1px solid #1d3858;
  background-color: transparent;
  margin-top: 2vw;
  width: 85vw;
  font-size: 0.8vw;
  outline: none;
  font-family: "Montserrat";
  color: #876745;
}
@media screen and (min-width: 992px) {
  .home-contact .container .contact-list .form form .input {
    width: 35vw;
  }
}
@media screen and (min-width: 992px) {
  .home-contact .container .contact-list .contact-info img {
    right: 0;
    width: 30vw;
    z-index: -1;
  }
}
.home-contact .container .contact-list .contact-info h2 {
  font-family: "Mochiy Pop One", sans-serif;
  font-size: 1rem;
  color: #ffffff;
  text-align: center;
}
@media screen and (min-width: 992px) {
  .home-contact .container .contact-list .contact-info h2 {
    font-size: 2rem;
  }
}
.home-contact .container .contact-list .contact-info p {
  text-align: center;
  font-size: 0.8rem;
  font-family: "Montserrat";
  color: #ffffff;
}
.home-contact .container .contact-list .contact-info .home-social-links {
  display: grid;
  place-items: center;
}
.home-contact .container .contact-list .contact-info .home-social-links .soc-links {
  display: flex;
  align-items: center;
  margin-top: 2vw;
  gap: 1.5vw;
}
@media screen and (min-width: 992px) {
  .home-contact .container .contact-list .contact-info .home-social-links .soc-links {
    margin-top: 0vw;
  }
}
@media screen and (min-width: 992px) {
  .home-contact .container .contact-list .contact-info .home-social-links .soc-links a img {
    display: flex;
    gap: 0.5rem;
    width: 1rem;
  }
}

.register-body {
  position: relative;
}
.register-body .social-media .bg-back {
  position: absolute;
  top: -1vw;
  z-index: -1;
  width: 250vw;
  right: -28vw;
  transform: rotate(90deg);
}
@media screen and (min-width: 992px) {
  .register-body .social-media .bg-back {
    width: 75vw;
    right: -23vw;
  }
}
.register-body .social-media .soc-links {
  display: grid;
  align-items: center;
  gap: 1.5vw;
  position: absolute;
  z-index: 9;
  top: 17vw;
  right: 9.5vw;
}
@media screen and (min-width: 992px) {
  .register-body .social-media .soc-links {
    display: flex;
    align-items: center;
    gap: 1vw;
  }
}
.register-body .social-media .soc-links a {
  display: grid;
  place-items: center;
}
.register-body .social-media .soc-links a img {
  width: 1.25rem;
}
@media screen and (min-width: 992px) {
  .register-body .social-media .soc-links a img {
    width: 1.8rem;
  }
}
.register-body .register-form .container h1 {
  margin-top: 10vw;
  font-size: 1.25rem;
  font-weight: 400;
  font-family: "Mochiy Pop One", sans-serif;
  color: #1d3858;
}
.register-body .register-form .container p {
  font-size: 0.8rem;
  margin-top: 2rem;
  font-family: "Montserrat";
  color: #876745;
  width: 100%;
}
@media screen and (min-width: 992px) {
  .register-body .register-form .container p {
    margin-top: 2vw;
    font-size: 0.8vw;
    width: 60%;
  }
}
.register-body .register-form .container .full-form .input {
  border: none;
  border-bottom: 1px solid #7e7979;
  background-color: transparent;
  margin-top: 2vw;
  width: 80%;
  font-size: 0.8rem;
  outline: none;
  font-family: "Montserrat";
  color: #876745;
}
@media screen and (min-width: 992px) {
  .register-body .register-form .container .full-form .input {
    font-size: 0.8vw;
    width: 80%;
  }
}
.register-body .register-form .container .full-form .mg-left {
  margin-left: 1vw;
  margin-top: 1vw;
}

.about-us .container {
  display: grid;
  place-content: right;
}
.about-us .container h1 {
  font-family: "mayoritte";
  font-size: 2rem;
  color: #876745;
}
.about-us .container .desc-about {
  display: grid;
  place-items: center;
}
.about-us .container .desc-about .about-txt {
  display: grid;
  place-items: center;
  background: #876745;
  padding: 1rem;
  width: 18rem;
}
@media screen and (min-width: 768px) {
  .about-us .container .desc-about .about-txt {
    width: 35rem;
  }
}
@media screen and (min-width: 992px) {
  .about-us .container .desc-about .about-txt {
    width: 48rem;
  }
}
@media screen and (min-width: 1200px) {
  .about-us .container .desc-about .about-txt {
    width: 58rem;
  }
}
.about-us .container .desc-about .about-txt p {
  font-size: 0.8rem;
  line-height: 1.2rem;
  color: #ffffff;
  font-family: "Montserrat";
  text-align: center;
}
.about-us .container .desc-about .about-txt button {
  margin-top: 1.5rem;
  font-family: "Montserrat";
}
.about-us .container .desc-about .about-image {
  z-index: -1;
}
.about-us .container .desc-about .about-image img {
  margin-top: -2rem;
}
@media screen and (min-width: 992px) {
  .about-us .container .desc-about .about-image img {
    width: 100%;
    object-fit: cover;
  }
}

.faq .container {
  position: relative;
}
.faq .container .faq-texture {
  position: absolute;
  display: grid;
  place-content: center;
}
@media screen and (min-width: 992px) {
  .faq .container .faq-texture {
    object-fit: cover;
  }
}
.faq .container h1 {
  font-family: "mayoritte";
  font-size: 2rem;
  color: #876745;
}
.faq .container .faq-wrapper {
  display: grid;
  place-content: center;
}
.faq .container .faq-wrapper #wrapper {
  min-height: 0;
  display: inline-block;
  position: relative;
  left: 50%;
  margin: 50px 0;
  transform: translate(-50%, 0);
}
@media (max-width: 550px) {
  .faq .container .faq-wrapper #wrapper {
    box-sizing: border-box;
    transform: translate(0, 0);
    max-width: 100%;
    min-height: 100%;
    margin: 0;
    left: 0;
  }
}
.faq .container .faq-wrapper h1,
.faq .container .faq-wrapper h2 {
  color: rgba(0, 0, 0, 0);
}
.faq .container .faq-wrapper h1 {
  margin: 10% auto 0;
  text-transform: uppercase;
  font-size: 36px;
  line-height: 42px;
  letter-spacing: 3px;
  font-weight: 100;
  text-align: center;
  display: table;
  font-weight: bolder;
  border-bottom: 2px solid #000;
}
.faq .container .faq-wrapper h2 {
  font-size: 1rem;
  font-weight: 500;
  display: block;
  color: #1d3858;
  font-family: "Montserrat";
  margin: 0;
  cursor: pointer;
}
.faq .container .faq-wrapper h2 .plus-icon {
  font-size: 2rem;
  margin-left: 0.6rem;
  color: #876745;
}
@media screen and (min-width: 992px) {
  .faq .container .faq-wrapper h2 .plus-icon {
    margin-left: 4.6rem;
  }
}
@media screen and (min-width: 1200px) {
  .faq .container .faq-wrapper h2 .plus-icon {
    margin-left: 8.6rem;
  }
}
.faq .container .faq-wrapper p {
  color: #876745;
  font-size: 0.8rem;
  line-height: 20px;
  position: relative;
  overflow: hidden;
  font-family: "Montserrat";
  max-height: 800px;
  opacity: 1;
  transform: translate(0, 0);
  margin-top: 14px;
  z-index: 2;
  transition: all 500ms ease;
}
@media screen and (min-width: 768px) {
  .faq .container .faq-wrapper ul {
    display: grid;
    grid-template-columns: 1fr 1fr;
    place-items: center;
    gap: 0.5rem;
  }
}
.faq .container .faq-wrapper p,
.faq .container .faq-wrapper ul li i:before,
.faq .container .faq-wrapper ul li i:after {
  transition: all 0.25s ease-in-out;
}
.faq .container .faq-wrapper ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.faq .container .faq-wrapper ul li {
  position: relative;
  padding: 0;
  margin: 0;
  padding-bottom: 4px;
  padding-top: 18px;
  border-top: 1px solid #e4eaec;
}
.faq .container .faq-wrapper ul li i {
  position: absolute;
  transform: translate(-6px, 0);
  margin-top: 9px;
  right: 0;
}
.faq .container .faq-wrapper ul li i:before, .faq .container .faq-wrapper ul li i:after {
  content: "";
  position: absolute;
  background-color: rgba(0, 0, 0, 0);
  width: 3px;
  height: 16px;
}
.faq .container .faq-wrapper ul li i:before {
  transform: translate(2px, 0) rotate(45deg);
}
.faq .container .faq-wrapper ul li i:after {
  transform: translate(2px, 0) rotate(-45deg);
}
.faq .container .faq-wrapper ul li input[type=checkbox] {
  position: absolute;
  cursor: pointer;
  width: 100%;
  height: 100%;
  z-index: 1;
  opacity: 0;
}
.faq .container .faq-wrapper ul li input[type=checkbox]:checked ~ p {
  margin-top: 0;
  max-height: 0;
  opacity: 0;
  transform: translate(0, 50%);
}
.faq .container .faq-wrapper ul li input[type=checkbox]:checked ~ i:before {
  margin-top: 9px;
  color: #1d3858;
  height: 9px;
  transform: translate(2px, 0) rotate(45deg);
}
.faq .container .faq-wrapper ul li input[type=checkbox]:checked ~ i:after {
  margin-top: 9px;
  height: 9px;
  transform: translate(-2px, 0) rotate(-45deg);
}
.faq .container .faq-wrapper ul li:nth-of-type(1) {
  border-top: none;
  animation-delay: 0.5s;
}
.faq .container .faq-wrapper ul li:nth-of-type(2) {
  animation-delay: 0.75s;
}
.faq .container .faq-wrapper ul li:nth-of-type(3) {
  animation-delay: 1s;
}
.faq .container .faq-wrapper ul li:last-of-type {
  padding-bottom: 0;
}
.faq .container .faq-wrapper li {
  animation: bounceInUp 1s ease both;
}

.separt .container .box {
  width: 100%;
  height: 2rem;
  background-color: #876745;
}

.safty .container h2 {
  font-size: 5vw;
  font-family: "Montserrat";
  color: #1d3858;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .safty .container h2 {
    font-size: 2.5vw;
  }
}
@media screen and (min-width: 992px) {
  .safty .container h2 {
    font-size: 2vw;
  }
}
@media screen and (min-width: 768px) {
  .safty .container .list-safty {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
  }
}
.safty .container .list-safty .studio-safty h3 {
  font-size: 5vw;
  font-family: "Montserrat";
  color: #1d3858;
  font-weight: 600;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .safty .container .list-safty .studio-safty h3 {
    font-size: 2.5vw;
  }
}
@media screen and (min-width: 992px) {
  .safty .container .list-safty .studio-safty h3 {
    font-size: 1rem;
  }
}
.safty .container .list-safty .studio-safty p {
  width: 100%;
  font-family: "Montserrat";
  font-size: 0.9rem;
  color: #1d3858;
  line-height: 1.2rem;
  font-weight: 500;
  text-align: center;
}
@media screen and (min-width: 992px) {
  .safty .container .list-safty .studio-safty p {
    line-height: 0rem;
  }
}
.safty .container .list-safty .covid-safty h3 {
  font-size: 5vw;
  font-family: "Montserrat";
  color: #1d3858;
  font-weight: 600;
  margin-top: 2rem;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .safty .container .list-safty .covid-safty h3 {
    font-size: 2.5vw;
    margin-top: 0rem;
  }
}
@media screen and (min-width: 992px) {
  .safty .container .list-safty .covid-safty h3 {
    font-size: 1rem;
  }
}
.safty .container .list-safty .covid-safty p {
  text-align: center;
  width: 100%;
  font-family: "Montserrat";
  font-size: 0.9rem;
  color: #1d3858;
  font-weight: 500;
  line-height: 1.2rem;
}
@media screen and (min-width: 992px) {
  .safty .container .list-safty .covid-safty p {
    line-height: 0rem;
  }
}
.safty .container .download-mid {
  display: grid;
  place-items: center;
}
.safty .container .download-mid p {
  text-align: center;
  color: #876745;
}
@media screen and (min-width: 992px) {
  .safty .container .download-mid p {
    width: 30rem;
  }
}

.dance-wear {
  background-color: #1d3858;
  padding-top: 5.859375vw;
  padding-bottom: 5.859375vw;
}
.dance-wear .container {
  display: grid;
  place-items: center;
}
.dance-wear .container h2 {
  font-family: "Mochiy Pop One", sans-serif;
  font-weight: 100;
  font-size: 2rem;
  color: #ffffff;
  text-align: center;
}
.dance-wear .container .frist-p {
  text-align: center;
  color: #ffffff;
  font-size: 0.8rem;
  font-family: "Montserrat";
}
@media screen and (min-width: 768px) {
  .dance-wear .container .frist-p {
    width: 35rem;
  }
}
@media screen and (min-width: 768px) {
  .dance-wear .container .dance-wear-wrapper .dance-wear-items {
    display: grid;
    align-items: flex-start;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
  }
}
.dance-wear .container .dance-wear-wrapper .dance-wear-items .single-item {
  display: grid;
  place-items: center;
}
@media screen and (min-width: 768px) {
  .dance-wear .container .dance-wear-wrapper .dance-wear-items .single-item {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
  }
}
.dance-wear .container .dance-wear-wrapper .dance-wear-items .single-item .bigimg {
  width: 15rem;
  height: 20rem;
  object-fit: cover;
}
.dance-wear .container .dance-wear-wrapper .dance-wear-items .single-item .right-table {
  display: grid;
  place-items: center;
  margin-top: 2rem;
}
@media screen and (min-width: 768px) {
  .dance-wear .container .dance-wear-wrapper .dance-wear-items .single-item .right-table {
    height: 22rem;
    place-items: left;
    margin-top: 0rem;
  }
}
.dance-wear .container .dance-wear-wrapper .dance-wear-items .single-item .right-table h4 {
  color: #ffffff;
  font-size: 1rem;
  font-family: "Montserrat";
}
@media screen and (min-width: 768px) {
  .dance-wear .container .dance-wear-wrapper .dance-wear-items .single-item .right-table h4 {
    font-size: 0.8rem;
  }
}
.dance-wear .container .dance-wear-wrapper .dance-wear-items .single-item .right-table p {
  font-size: 0.7rem;
  color: #ffffff;
  font-family: "Montserrat";
}
@media screen and (min-width: 768px) {
  .dance-wear .container .dance-wear-wrapper .dance-wear-items .single-item .right-table p {
    text-align: left;
  }
}
.dance-wear .container .dance-wear-wrapper .dance-wear-items .single-item .right-table .images {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1rem;
}
@media screen and (min-width: 768px) {
  .dance-wear .container .dance-wear-wrapper .dance-wear-items .single-item .right-table .images {
    place-items: left;
    margin-top: 1.5rem;
  }
}
@media screen and (min-width: 992px) {
  .dance-wear .container .dance-wear-wrapper .dance-wear-items .single-item .right-table .images img {
    height: 10rem;
    object-fit: cover;
  }
}
.dance-wear .container .dance-wear-wrapper .dance-wear-items .single-item .right-table button {
  margin-top: 2rem;
  font-size: 0.6rem;
}

.gallery .container h1 {
  font-family: "mayoritte";
  font-size: 2rem;
  color: #876745;
}
@media screen and (min-width: 768px) {
  .gallery .container h1 {
    font-size: 2rem;
  }
}
@media screen and (min-width: 992px) {
  .gallery .container h1 {
    font-size: 2rem;
  }
}
@media screen and (min-width: 768px) {
  .gallery .container .gallery-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: flex-end;
    gap: 1rem;
  }
}
@media screen and (min-width: 992px) {
  .gallery .container .gallery-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1rem;
  }
}
.gallery .container .gallery-wrapper .single-img {
  display: grid;
  place-items: center;
}
.gallery .container .gallery-wrapper .single-img img {
  width: 15rem;
  height: 20rem;
  object-fit: cover;
}
.gallery .container .gallery-wrapper .single-img .studio-name {
  text-align: center;
  font-family: "Montserrat";
  color: #1d3858;
  font-size: 1.3rem;
  margin-top: 1rem;
  font-weight: 600;
}

.program-hero img {
  width: 100%;
  height: 30vh;
  object-fit: cover;
}
@media screen and (min-width: 992px) {
  .program-hero img {
    width: 100%;
    height: 25vh;
    object-fit: cover;
  }
}

.schedule-all1 .container h1 {
  position: relative;
  font-family: "mayoritte";
  font-size: 2.5rem;
  color: #876745;
}
@media screen and (min-width: 768px) {
  .schedule-all1 .container h1 {
    font-size: 4rem;
  }
}
.schedule-all1 .container .decor-box1 {
  position: absolute;
  width: 50%;
  height: 25px;
  left: 65px;
  z-index: -1;
  margin-top: -6vw;
  background: rgba(247, 204, 163, 0.39);
}
@media screen and (min-width: 992px) {
  .schedule-all1 .container .decor-box1 {
    width: 30%;
    height: 45px;
    margin-top: -2.5vw;
    left: 200px;
  }
}
.schedule-all1 .container h2 {
  font-family: "Mochiy Pop One", sans-serif;
  font-size: 1rem;
  color: #662483;
  text-align: center;
}
.schedule-all1 .container h3 {
  position: relative;
  font-family: "Mochiy Pop One", sans-serif;
  margin-top: 2rem;
  font-size: 0.8rem;
  color: #876745;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .schedule-all1 .container h3 {
    font-size: 1.2rem;
    margin-top: 0rem;
  }
}
.schedule-all1 .container table {
  border: 1px solid #662483;
  border-collapse: collapse;
  width: 100%;
  table-layout: fixed;
}
.schedule-all1 .container table td {
  border: 1px solid #1d3858;
  padding: 0.35em;
}
.schedule-all1 .container table th {
  border: 1px solid #1d3858;
  padding: 0.35em;
}
.schedule-all1 .container table tr {
  border: 1px solid #1d3858;
  padding: 0.35em;
}
.schedule-all1 .container .freespace {
  border-bottom: 1px solid #ffffff;
  border-right: 1px solid #ffffff;
}
.schedule-all1 .container .freespace2 {
  background-color: #ffffff;
  border-top: 1px solid #ffffff;
  padding: 0.35em;
}
.schedule-all1 .container .day-txt {
  font-size: 0.8rem;
  text-align: center;
  font-weight: 600;
}
.schedule-all1 .container .time-txt {
  font-family: "Mochiy Pop One", sans-serif;
  font-size: 0.9rem;
  text-align: center;
  font-weight: 600;
  color: #876745;
}
.schedule-all1 .container table th {
  padding: 0.625em;
  color: #876745;
  font-family: "Montserrat";
  text-align: center;
  font-weight: 700;
}
.schedule-all1 .container table td {
  padding: 0.625em;
  font-size: 0.8rem;
  text-align: center;
  color: #1d3858;
  font-family: "Montserrat";
}
.schedule-all1 .container table th {
  font-size: 0.6rem;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}
@media screen and (max-width: 600px) {
  .schedule-all1 .container table {
    border: 0;
  }
  .schedule-all1 .container table caption {
    font-size: 1.3em;
  }
  .schedule-all1 .container table thead {
    border: none;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }
  .schedule-all1 .container table tr {
    margin-bottom: 0.625em;
  }
  .schedule-all1 .container table td {
    border-bottom: 1px solid #1d3858;
    display: block;
    font-size: 0.8em;
    text-align: right;
  }
  .schedule-all1 .container table td::before {
    content: attr(data-label);
    float: left;
    font-weight: bold;
    text-transform: uppercase;
  }
  .schedule-all1 .container table td:last-child {
    border-bottom: 0;
  }
}
.schedule-all1 .container .sche-note {
  display: grid;
  place-items: center;
}
.schedule-all1 .container .sche-note p {
  text-align: center;
  color: #876745;
  font-family: "Montserrat";
  font-size: 0.8rem;
}
@media screen and (min-width: 992px) {
  .schedule-all1 .container .sche-note p {
    width: 35rem;
  }
}

.pro-gallery {
  background-color: #1d3858;
  padding-top: 2rem;
}
.pro-gallery .container h1 {
  font-family: "mayoritte";
  font-size: 8.5vw;
  color: #ffffff;
}
@media screen and (min-width: 768px) {
  .pro-gallery .container h1 {
    font-size: 2rem;
  }
}
@media screen and (min-width: 768px) {
  .pro-gallery .container .gallery-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: flex-end;
    gap: 1rem;
  }
}
@media screen and (min-width: 992px) {
  .pro-gallery .container .gallery-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1rem;
  }
}
.pro-gallery .container .gallery-wrapper .single-img {
  display: grid;
  place-items: center;
}
.pro-gallery .container .gallery-wrapper .single-img img {
  width: 18rem;
  height: 25rem;
  object-fit: cover;
}
.pro-gallery .container .gallery-wrapper .single-img .studio-name {
  text-align: center;
  font-family: "Montserrat";
  color: #1d3858;
  font-size: 1.3rem;
  margin-top: 1rem;
  font-weight: 600;
}

@media screen and (min-width: 992px) {
  .events .container .event-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    place-items: center;
    align-items: flex-start;
    gap: 2rem;
  }
}
@media screen and (min-width: 992px) {
  .events .container .event-wrapper .single-event {
    display: grid;
    grid-template-columns: 1fr 1fr;
    place-items: center;
    align-items: flex-start;
    gap: 2rem;
  }
}
.events .container .event-wrapper .single-event img {
  width: 100%;
  object-fit: cover;
  height: 20rem;
}
@media screen and (min-width: 992px) {
  .events .container .event-wrapper .single-event img {
    width: 35rem;
    height: 15rem;
  }
}
.events .container .event-wrapper .single-event h2 {
  font-family: "Mochiy Pop One", sans-serif;
  font-weight: 100;
  font-size: 1rem;
  color: #1d3858;
  margin-top: 1rem;
}
@media screen and (min-width: 992px) {
  .events .container .event-wrapper .single-event h2 {
    margin-top: 0rem;
  }
}
.events .container .event-wrapper .single-event p {
  font-size: 0.9rem;
  margin-top: 1rem;
  font-family: "Montserrat";
  color: #1d3858;
}
@media screen and (min-width: 992px) {
  .events .container .event-wrapper .single-event p {
    font-size: 0.7rem;
  }
}
.events .container .event-wrapper .single-event ul h4 {
  margin-top: 0.9rem;
  font-size: 1rem;
  font-weight: 600;
  font-family: "Montserrat";
  color: #1d3858;
}
@media screen and (min-width: 992px) {
  .events .container .event-wrapper .single-event ul h4 {
    font-size: 0.7rem;
  }
}
.events .container .event-wrapper .single-event ul li {
  font-size: 0.9rem;
  margin-top: 0.5rem;
  font-family: "Montserrat";
  color: #1d3858;
}
@media screen and (min-width: 992px) {
  .events .container .event-wrapper .single-event ul li {
    font-size: 0.6rem;
  }
}

@font-face {
  font-family: "Mochiy_Pop_One";
  font-style: normal;
  font-weight: normal;
  src: local("Mochiy_Pop_One"), url("@/assets/font/Mochiy_Pop_One/MochiyPopOne-Regular.ttf") format("ttf");
}
@font-face {
  font-family: "mayoritte";
  font-style: normal;
  font-weight: normal;
  src: local("mayoritte"), url("@/assets/font/mayoritte/Mayoritte.ttf") format("ttf");
}
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: normal;
  src: local("Montserrat"), url("@/assets/font/Montserrat/static/Montserrat-Regular.ttf") format("ttf");
}
.row-grid {
  margin-top: 2.9296875vw;
}

.row-max-grid {
  margin-top: 5.859375vw;
}

.row-bottom-grid {
  margin-bottom: 5.859375vw;
}

.box-shadow {
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.15);
}

body {
  background: #ffffff;
}

.container {
  width: 80%;
  max-width: 1920px;
  margin: 0 auto;
}

.container10 {
  width: 90%;
  max-width: 1920px;
  margin: 0 auto;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.col {
  flex: 1 0 0%;
}

.col-0 {
  flex: 0 0 0%;
}

.col-offset-0 {
  margin-left: 0%;
}

.col-1 {
  flex: 0 0 8.3333333333%;
}

.col-offset-1 {
  margin-left: 8.3333333333%;
}

.col-2 {
  flex: 0 0 16.6666666667%;
}

.col-offset-2 {
  margin-left: 16.6666666667%;
}

.col-3 {
  flex: 0 0 25%;
}

.col-offset-3 {
  margin-left: 25%;
}

.col-4 {
  flex: 0 0 33.3333333333%;
}

.col-offset-4 {
  margin-left: 33.3333333333%;
}

.col-5 {
  flex: 0 0 41.6666666667%;
}

.col-offset-5 {
  margin-left: 41.6666666667%;
}

.col-6 {
  flex: 0 0 50%;
}

.col-offset-6 {
  margin-left: 50%;
}

.col-7 {
  flex: 0 0 58.3333333333%;
}

.col-offset-7 {
  margin-left: 58.3333333333%;
}

.col-8 {
  flex: 0 0 66.6666666667%;
}

.col-offset-8 {
  margin-left: 66.6666666667%;
}

.col-9 {
  flex: 0 0 75%;
}

.col-offset-9 {
  margin-left: 75%;
}

.col-10 {
  flex: 0 0 83.3333333333%;
}

.col-offset-10 {
  margin-left: 83.3333333333%;
}

.col-11 {
  flex: 0 0 91.6666666667%;
}

.col-offset-11 {
  margin-left: 91.6666666667%;
}

.col-12 {
  flex: 0 0 100%;
}

.col-offset-12 {
  margin-left: 100%;
}

@media screen and (min-width: 576px) {
  .col-sm-0 {
    flex: 0 0 0%;
  }
  .col-sm-offset-0 {
    margin-left: 0%;
  }
  .col-sm-1 {
    flex: 0 0 8.3333333333%;
  }
  .col-sm-offset-1 {
    margin-left: 8.3333333333%;
  }
  .col-sm-2 {
    flex: 0 0 16.6666666667%;
  }
  .col-sm-offset-2 {
    margin-left: 16.6666666667%;
  }
  .col-sm-3 {
    flex: 0 0 25%;
  }
  .col-sm-offset-3 {
    margin-left: 25%;
  }
  .col-sm-4 {
    flex: 0 0 33.3333333333%;
  }
  .col-sm-offset-4 {
    margin-left: 33.3333333333%;
  }
  .col-sm-5 {
    flex: 0 0 41.6666666667%;
  }
  .col-sm-offset-5 {
    margin-left: 41.6666666667%;
  }
  .col-sm-6 {
    flex: 0 0 50%;
  }
  .col-sm-offset-6 {
    margin-left: 50%;
  }
  .col-sm-7 {
    flex: 0 0 58.3333333333%;
  }
  .col-sm-offset-7 {
    margin-left: 58.3333333333%;
  }
  .col-sm-8 {
    flex: 0 0 66.6666666667%;
  }
  .col-sm-offset-8 {
    margin-left: 66.6666666667%;
  }
  .col-sm-9 {
    flex: 0 0 75%;
  }
  .col-sm-offset-9 {
    margin-left: 75%;
  }
  .col-sm-10 {
    flex: 0 0 83.3333333333%;
  }
  .col-sm-offset-10 {
    margin-left: 83.3333333333%;
  }
  .col-sm-11 {
    flex: 0 0 91.6666666667%;
  }
  .col-sm-offset-11 {
    margin-left: 91.6666666667%;
  }
  .col-sm-12 {
    flex: 0 0 100%;
  }
  .col-sm-offset-12 {
    margin-left: 100%;
  }
}
@media screen and (min-width: 768px) {
  .col-md-0 {
    flex: 0 0 0%;
  }
  .col-md-offset-0 {
    margin-left: 0%;
  }
  .col-md-1 {
    flex: 0 0 8.3333333333%;
  }
  .col-md-offset-1 {
    margin-left: 8.3333333333%;
  }
  .col-md-2 {
    flex: 0 0 16.6666666667%;
  }
  .col-md-offset-2 {
    margin-left: 16.6666666667%;
  }
  .col-md-3 {
    flex: 0 0 25%;
  }
  .col-md-offset-3 {
    margin-left: 25%;
  }
  .col-md-4 {
    flex: 0 0 33.3333333333%;
  }
  .col-md-offset-4 {
    margin-left: 33.3333333333%;
  }
  .col-md-5 {
    flex: 0 0 41.6666666667%;
  }
  .col-md-offset-5 {
    margin-left: 41.6666666667%;
  }
  .col-md-6 {
    flex: 0 0 50%;
  }
  .col-md-offset-6 {
    margin-left: 50%;
  }
  .col-md-7 {
    flex: 0 0 58.3333333333%;
  }
  .col-md-offset-7 {
    margin-left: 58.3333333333%;
  }
  .col-md-8 {
    flex: 0 0 66.6666666667%;
  }
  .col-md-offset-8 {
    margin-left: 66.6666666667%;
  }
  .col-md-9 {
    flex: 0 0 75%;
  }
  .col-md-offset-9 {
    margin-left: 75%;
  }
  .col-md-10 {
    flex: 0 0 83.3333333333%;
  }
  .col-md-offset-10 {
    margin-left: 83.3333333333%;
  }
  .col-md-11 {
    flex: 0 0 91.6666666667%;
  }
  .col-md-offset-11 {
    margin-left: 91.6666666667%;
  }
  .col-md-12 {
    flex: 0 0 100%;
  }
  .col-md-offset-12 {
    margin-left: 100%;
  }
}
@media screen and (min-width: 992px) {
  .col-lg-0 {
    flex: 0 0 0%;
  }
  .col-lg-offset-0 {
    margin-left: 0%;
  }
  .col-lg-1 {
    flex: 0 0 8.3333333333%;
  }
  .col-lg-offset-1 {
    margin-left: 8.3333333333%;
  }
  .col-lg-2 {
    flex: 0 0 16.6666666667%;
  }
  .col-lg-offset-2 {
    margin-left: 16.6666666667%;
  }
  .col-lg-3 {
    flex: 0 0 25%;
  }
  .col-lg-offset-3 {
    margin-left: 25%;
  }
  .col-lg-4 {
    flex: 0 0 33.3333333333%;
  }
  .col-lg-offset-4 {
    margin-left: 33.3333333333%;
  }
  .col-lg-5 {
    flex: 0 0 41.6666666667%;
  }
  .col-lg-offset-5 {
    margin-left: 41.6666666667%;
  }
  .col-lg-6 {
    flex: 0 0 50%;
  }
  .col-lg-offset-6 {
    margin-left: 50%;
  }
  .col-lg-7 {
    flex: 0 0 58.3333333333%;
  }
  .col-lg-offset-7 {
    margin-left: 58.3333333333%;
  }
  .col-lg-8 {
    flex: 0 0 66.6666666667%;
  }
  .col-lg-offset-8 {
    margin-left: 66.6666666667%;
  }
  .col-lg-9 {
    flex: 0 0 75%;
  }
  .col-lg-offset-9 {
    margin-left: 75%;
  }
  .col-lg-10 {
    flex: 0 0 83.3333333333%;
  }
  .col-lg-offset-10 {
    margin-left: 83.3333333333%;
  }
  .col-lg-11 {
    flex: 0 0 91.6666666667%;
  }
  .col-lg-offset-11 {
    margin-left: 91.6666666667%;
  }
  .col-lg-12 {
    flex: 0 0 100%;
  }
  .col-lg-offset-12 {
    margin-left: 100%;
  }
}
@media screen and (min-width: 1200px) {
  .col-xl-0 {
    flex: 0 0 0%;
  }
  .col-xl-offset-0 {
    margin-left: 0%;
  }
  .col-xl-1 {
    flex: 0 0 8.3333333333%;
  }
  .col-xl-offset-1 {
    margin-left: 8.3333333333%;
  }
  .col-xl-2 {
    flex: 0 0 16.6666666667%;
  }
  .col-xl-offset-2 {
    margin-left: 16.6666666667%;
  }
  .col-xl-3 {
    flex: 0 0 25%;
  }
  .col-xl-offset-3 {
    margin-left: 25%;
  }
  .col-xl-4 {
    flex: 0 0 33.3333333333%;
  }
  .col-xl-offset-4 {
    margin-left: 33.3333333333%;
  }
  .col-xl-5 {
    flex: 0 0 41.6666666667%;
  }
  .col-xl-offset-5 {
    margin-left: 41.6666666667%;
  }
  .col-xl-6 {
    flex: 0 0 50%;
  }
  .col-xl-offset-6 {
    margin-left: 50%;
  }
  .col-xl-7 {
    flex: 0 0 58.3333333333%;
  }
  .col-xl-offset-7 {
    margin-left: 58.3333333333%;
  }
  .col-xl-8 {
    flex: 0 0 66.6666666667%;
  }
  .col-xl-offset-8 {
    margin-left: 66.6666666667%;
  }
  .col-xl-9 {
    flex: 0 0 75%;
  }
  .col-xl-offset-9 {
    margin-left: 75%;
  }
  .col-xl-10 {
    flex: 0 0 83.3333333333%;
  }
  .col-xl-offset-10 {
    margin-left: 83.3333333333%;
  }
  .col-xl-11 {
    flex: 0 0 91.6666666667%;
  }
  .col-xl-offset-11 {
    margin-left: 91.6666666667%;
  }
  .col-xl-12 {
    flex: 0 0 100%;
  }
  .col-xl-offset-12 {
    margin-left: 100%;
  }
}
.btn {
  display: inline-block;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  background-color: transparent;
  border: 1px solid transparent;
  padding: 0.375rem 1.75rem;
  font-size: 0.9rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

@media screen and (min-width: 992px) {
  .btn {
    font-size: 0.9rem;
    font-weight: 400;
  }
}
.btn-font, .btn-cta, .btn-thrid, .btn-secondary, .btn-primary {
  font-family: "Neue Helvetica thin";
  font-weight: 600;
  letter-spacing: 0.1rem;
}

.btn-primary {
  color: #1d3858;
  background: #fff;
  text-align: center;
}

.btn-cta, .btn-thrid, .btn-secondary {
  background: #313131;
  color: #fff;
  border: none;
  text-align: center;
}

.btn-secondary {
  width: 15rem;
  margin-top: 3vw;
  background: #876745;
  font-family: "Montserrat";
  color: #fef7f1;
}
@media screen and (min-width: 992px) {
  .btn-secondary {
    width: 13rem;
    font-size: 0.7rem;
  }
}
@media screen and (min-width: 992px) and (min-width: 1200px) {
  .btn-secondary {
    width: 15rem;
    font-size: 0.8rem;
  }
}
.btn-secondary a {
  color: #fef7f1;
  font-size: 0.8rem;
}
.btn-thrid {
  margin-top: 3vw;
  background: #1d3858;
  font-family: "Montserrat";
  color: #fef7f1;
}
.btn-thrid a {
  color: #fef7f1;
  font-size: 0.8rem;
}
@media screen and (min-width: 992px) {
  .btn-thrid a {
    width: 13rem;
  }
}

.sub-title {
  font-family: "Neue Helvetica thin";
  font-weight: 600;
  color: #525252;
  font-size: 0.6rem;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
}

.title {
  font-family: "Neue Helvetica Medium";
  text-transform: capitalize;
  font-weight: 400;
  font-size: 1.2rem;
}

.E-bg {
  background: #f3eee7;
}

.text {
  font-family: "Neue Helvetica thin";
  font-weight: 600;
  letter-spacing: 0.07rem;
  font-size: 0.7rem;
  line-height: 1.5rem;
}

.center {
  display: grid;
  place-items: center;
}

.link {
  font-family: "Neue Helvetica thin";
  font-weight: 600;
  color: #525252;
  font-size: 1rem;
  position: relative;
  letter-spacing: 0.07rem;
  display: inline-block;
}
.link::after {
  content: "";
  position: absolute;
  font-size: 0.8rem;
  top: 120%;
  left: 0;
  height: 1px;
  width: 100%;
  background: #525252;
}/*# sourceMappingURL=style.css.map */