.home-nav {
  display: grid;
  place-content: center;
  .container {
    // display: grid;
    // place-content: center;
    width: 100%;
    .logo {
      display: grid;
      place-content: center;
      img {
        width: 10vw;
      }
    }
    .links {
      .ul-links {
        display: flex;
        align-items: center;
        width: 100%;
        gap: 6vw;
        li {
          font-size: 0.8vw;
          color: #1d3858;
          font-family: "Montserrat";
          .box-form {
            background-color: #662483;
            padding: 0.7vw;
            padding-left: 2.2vw;
            padding-right: 2.2vw;
            color: #ffff;
          }
        }
      }
    }
  }
}
.hero-vid {
  .container {
    .video {
      img {
        width: 100%;
        height: 40vw;
        object-fit: cover;
      }
    }
  }
}

.join-cta {
  display: grid;
  place-content: center;
  position: relative;
  align-items: center;
  .container {
    display: grid;
    place-items: center;
    .bg-texture {
      display: grid;
      place-items: center;
      align-items: center;
      img {
        width: 130rem;
      }
      // position: absolute;
    }
    .join-txt {
      display: grid;
      justify-items: center;

      align-items: center;
      position: absolute;
      top: 1vw;

      .join-title {
        z-index: 9999;
        h1 {
          font-family: "mayoritte";
          // font-family: "MochiyPopOne";
          font-size: 6.5vw;
          color: #fef7f1;
          text-align: center;
        }
      }
      .join-p {
        p {
          font-family: "Montserrat";
          text-align: center;
          width: 35rem;
          margin-top: 1.5vw;
          color: #fef7f1;
          font-size: 1.25vw;
          line-height: 2vw;
        }
      }
      button {
        font-family: "Montserrat";
      }
    }
  }
}
.who-we-are {
  .container {
    .who-all {
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 2vw;
      width: 100%;
      .who-title {
        h1 {
          font-family: "Mochiy Pop One", sans-serif;
          font-weight: 100;
          font-size: 5vw;
          color: #876745;
          line-height: 8vw;
          letter-spacing: 0.9vw;
        }
      }
      .who-desc {
        width: 60%;
        p {
          color: #876745;
          font-size: 1.25vw;
          font-weight: 500;
          font-family: "Montserrat";
          line-height: 2vw;
          // text-align: center;
        }
      }
    }
  }
}
.big-image {
  img {
    width: 100%;
    height: 40vh;
    object-fit: cover;
  }
}
footer {
  background-color: #1d3858;
  .footer-all {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .logo-foot {
      img {
        width: 13vw;
      }
    }
    .desc-foot {
      width: 50%;
      p {
        font-size: 0.8vw;
        line-height: 1.25vw;
        font-family: "Montserrat";
        color: #fef7f1;
      }
    }
  }
}
.programs {
  .container {
    h1 {
      font-size: 2vw;
      font-family: "Montserrat";
      color: #1d3858;
      text-align: center;
    }
    .schedule-all {
      .sch-title {
        position: relative;
        h2 {
          font-family: "mayoritte";
          font-size: 4.5vw;
          color: #876745;
        }
        .decor-box {
          position: absolute;
          width: 500px;
          height: 45px;
          left: 60px;
          z-index: -1;
          margin-top: -2vw;

          background: rgba(247, 204, 163, 0.39);
        }
        .sch-img {
          display: grid;
          place-items: center;
          img {
            width: 50vw;
            object-fit: cover;
          }
          .desc {
            display: grid;
            place-items: center;
            p {
              width: 60%;
              font-family: "Montserrat";
              font-size: 1.25vw;
              text-align: center;
            }
            .buttons {
              display: flex;
              gap: 3vw;
            }
          }
        }
      }
    }
    .class-all {
      .class-title {
        position: relative;
        h2 {
          font-family: "mayoritte";
          font-size: 4.5vw;
          color: #876745;
        }
        .decor-box {
          position: absolute;
          width: 500px;
          height: 45px;
          left: 60px;
          z-index: -1;
          margin-top: -2vw;

          background: rgba(247, 204, 163, 0.39);
        }
        .class-list {
          display: grid;
          grid-template-columns: 1fr 1fr;
          gap: 3vw;
          align-items: flex-end;
          .class-single {
            display: grid;
            place-items: center;
            margin-top: 6vw;
            img {
              width: 20vw;
            }
            h3 {
              font-size: 1.5vw;
              text-align: center;
              color: #1d3858;
              font-family: "Montserrat";
            }
            p {
              font-size: 0.8vw;
              text-align: center;
              color: #1d3858;
              font-family: "Montserrat";
            }
          }
        }
      }
    }
  }
}
