.home-nav {
  display: grid;
  place-content: center;
  .container {
    display: grid;
    place-content: center;
    width: 100%;
    .logo {
      display: grid;
      place-content: center;
      object-fit: cover;
      // .logo-img{
      //   background: url(../img/balletlogo.svg) no-repeat;
      //   display: block;
      //   width: 100px;
      //   height: 100px;
      //      object-fit: cover;
      // }
      // .logo-mask{
      // width: 100px;
      // height: 100px;

      // }
      img {
        width: 10rem;
        @include responsive($lg) {
          width: 8rem;
        }
      }
    }
    .mobile-link {
      display: grid;
      place-content: center;
      .ul-links {
        display: flex;
        align-items: center;
        width: 100%;
        gap: 6vw;
        li {
          font-size: 1rem;
          color: #1d3858;
          font-family: "Montserrat";
          .box-form {
            background-color: #662483;
            padding: 1.25vw;
            padding-left: 2.2vw;
            padding-right: 2.2vw;
            color: #ffff;
          }
        }
      }
      @include responsive($lg) {
        .ul-links {
          display: none;
        }
      }
    }
    .links {
      .ul-links {
        display: none;
      }
      @include responsive($lg) {
        .ul-links {
          display: flex;
          align-items: center;
          width: 100%;
          gap: 6vw;
          li {
            font-size: 0.8vw;
            color: #1d3858;
            font-family: "Montserrat";
            .box-form {
              background-color: #662483;
              padding: 0.7vw;
              padding-left: 2.2vw;
              padding-right: 2.2vw;
              color: #ffff;
            }
          }
        }
      }
    }
  }
}
.hero-vid {
  .container {
    .video {
      img {
        width: 100%;
        height: 80vw;
        object-fit: cover;
        @include responsive($lg) {
          width: 100%;
          height: 30vw;
          object-fit: cover;
        }
      }
    }
  }
}

.join-cta {
  display: grid;
  place-content: center;
  position: relative;
  align-items: center;
  .container {
    display: grid;
    place-items: center;
    .bg-texture {
      display: grid;
      place-items: center;
      align-items: center;
      img {
        // width: 100%;
        width: 200vw;

        object-fit: cover;
        @include responsive($lg) {
          width: 130vw;
        }
      }
      // position: absolute;
    }
    .join-txt {
      display: grid;
      justify-items: center;

      align-items: center;
      position: absolute;
      top: 1vw;

      .join-title {
        z-index: 9999;
        h1 {
          font-family: "mayoritte";
          // font-family: "MochiyPopOne";
          font-size: 8.5vw;
          color: #fef7f1;
          text-align: center;
          @include responsive($lg) {
            font-size: 6.5vw;
          }
        }
      }
      .join-p {
        p {
          font-family: "Montserrat";
          text-align: center;
          display: none;
          margin-top: 1.5vw;
          color: #fef7f1;
          font-size: 3vw;

          @include responsive($lg) {
            display: block;
            width: 35rem;
            font-size: 1.25vw;
            line-height: 2vw;
          }
        }
      }
      button {
        font-family: "Montserrat";
      }
    }
  }
}
.who-we-are {
  .container {
    .who-all {
      display: grid;
      place-content: center;

      align-items: center;
      gap: 2vw;

      @include responsive($lg) {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 2vw;
        width: 100%;
      }
      .who-title {
        h1 {
          font-family: "Mochiy Pop One", sans-serif;
          font-weight: 100;
          font-size: 4.5vw;
          color: #1d3858;
          // color: #876745;
          line-height: 8vw;
          letter-spacing: 0.9vw;
          text-align: center;
          @include responsive($md) {
            font-size: 3vw;
          }
          @include responsive($lg) {
            font-size: 3vw;
          }
        }
      }
      .who-desc {
        width: 100%;
        @include responsive($lg) {
          width: 70%;
        }
        p {
          color: #1d3858;
          font-size: 3.5vw;
          font-weight: 500;
          font-family: "Montserrat";
          // line-height: 3.5vw;
          // text-align: center;
          text-align: center;
          @include responsive($md) {
            font-size: 2.2vw;
            line-height: 4vw;
          }
          @include responsive($lg) {
            text-align: left;
            font-size: 1vw;
            line-height: 2vw;
          }
        }
      }
    }
  }
}
.big-image {
  img {
    width: 100%;
    height: 30vh;
    object-fit: cover;
    @include responsive($lg) {
      width: 100%;
      height: 40vh;
      object-fit: cover;
    }
  }
}
footer {
  background-color: #1d3858;
  .footer-all {
    display: grid;
    place-items: center;
    @include responsive($lg) {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    .logo-foot {
      img {
        width: 43vw;
        @include responsive($md) {
          width: 18vw;
        }
        @include responsive($lg) {
          width: 13vw;
        }
      }
    }
    .desc-foot {
      width: 100%;
      @include responsive($lg) {
        width: 50%;
      }
      p {
        font-size: 0.8rem;
        margin-bottom: 2vw;
        margin-left: 3rem;
        margin-right: 3rem;
        //  width:80%;
        font-family: "Montserrat";
        color: #fef7f1;
        text-align: center;
        @include responsive($lg) {
          margin-left: 5rem;
          margin-right: 5rem;
        }
        @include responsive($lg) {
          font-size: 0.8vw;
          text-align: left;
          line-height: 1.25vw;
          margin-bottom: 0vw;
        }
      }
    }
  }
}
.programs {
  .container {
    h1 {
      font-size: 5vw;
      font-family: "Montserrat";
      color: #1d3858;
      text-align: center;
      @include responsive($md) {
        font-size: 2.5vw;
      }
      @include responsive($lg) {
        font-size: 2vw;
      }
    }
    .schedule-all {
      .sch-title {
        position: relative;
        h2 {
          font-family: "mayoritte";
          font-size: 8.5vw;
          color: #876745;
          @include responsive($md) {
            font-size: 5.5vw;
          }
          @include responsive($lg) {
            font-size: 4.5vw;
          }
        }
        .decor-box {
          position: absolute;
          width: 70%;
          height: 25px;
          left: 40px;
          z-index: -1;
          margin-top: -4vw;

          background: rgba(247, 204, 163, 0.39);
          @include responsive($lg) {
            // width: 500px;
            width: 40%;
            height: 45px;
            margin-top: -2vw;
            left: 60px;
          }
        }
        .sch-img {
          display: grid;
          place-items: center;
          img {
            width: 100vw;
            object-fit: cover;
            @include responsive($lg) {
              width: 50vw;
            }
          }
          .desc {
            display: grid;
            place-items: center;
            p {
              width: 100%;
              font-family: "Montserrat";
              font-size: 3.5vw;
              text-align: center;
              @include responsive($md) {
                font-size: 2.25vw;
              }
              @include responsive($lg) {
                font-size: 1.25vw;
                width: 60%;
              }
            }
            .buttons {
              display: grid;
              place-content: center;
              width: 3vw;

              @include responsive($lg) {
                display: flex;
                gap: 3vw;
              }
            }
          }
        }
      }
    }
    .class-all {
      .class-title {
        position: relative;
        h2 {
          font-family: "mayoritte";
          font-size: 8.5vw;
          color: #876745;
          @include responsive($md) {
            font-size: 5.5vw;
          }
          @include responsive($lg) {
            font-size: 4.5vw;
          }
        }
        .decor-box {
          position: absolute;
          width: 70%;
          height: 25px;
          left: 40px;
          z-index: -1;
          margin-top: -4vw;

          background: rgba(247, 204, 163, 0.39);
          @include responsive($lg) {
            // width: 500px;
            width: 40%;
            height: 45px;
            margin-top: -2vw;
            left: 60px;
          }
        }
        .class-list {
          display: grid;
          place-items: center;
          @include responsive($md) {
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 3vw;
            align-items: center;
          }

          .class-single {
            display: grid;
            place-items: center;
            margin-top: 6vw;
            img {
              width: 40vw;
              margin-top: 8vw;
              @include responsive($md) {
                width: 25vw;
              }
              @include responsive($lg) {
                width: 15vw;
                margin-top: 3vw;
              }
            }
            h3 {
              font-size: 4.5vw;
              text-align: center;
              color: #1d3858;
              margin-top: 8vw;
              font-family: "Montserrat";
              @include responsive($md) {
                font-size: 3.5vw;
              }
              @include responsive($lg) {
                font-size: 1.5vw;
                margin-top: 3vw;
              }
            }
            p {
              font-size: 3.5vw;
              text-align: center;
              color: #1d3858;
              font-family: "Montserrat";
              @include responsive($md) {
                font-size: 2vw;
              }
              @include responsive($lg) {
                font-size: 1.25vw;
              }
            }
          }
        }
      }
    }
  }
}
.show-case {
  .container {
    h1 {
      font-size: 5vw;
      font-family: "Montserrat";
      color: #1d3858;
      text-align: center;
      @include responsive($md) {
        font-size: 2.5vw;
      }
      @include responsive($lg) {
        font-size: 2vw;
      }
    }
    .show-videos {
      display: grid;
      place-items: center;
      gap: 2vw;
      @include responsive($lg) {
        display: flex;
      }

      .single-video {
        iframe {
          width: 75vw;
          height: 50vw;
          @include responsive($lg) {
            width: 25vw;
            height: 20vw;
          }
        }
      }
    }
  }
}
.home-contact {
  position: relative;
  .contact-bg{
    position: absolute;
    bottom: 0;


transform: rotate(0deg);

    z-index: -1;
    img{

    }
  }
  .container {
    h1 {
      font-size: 5vw;
      font-family: "Montserrat";
      color: #1d3858;
      text-align: center;
      @include responsive($md) {
        font-size: 3vw;
      }
      @include responsive($lg) {
        font-size: 2vw;
      }
    }
    .contact-list {
      display: grid;

      @include responsive($lg) {
        display: flex;
        justify-content: space-between;
        align-items: center;
      }
      .form {
        form {
          p {
            font-size: 3.8vw;
            margin-top: 6vw;

            font-family: "Montserrat";
            color: #876745;
            width: 60%;
            @include responsive($md) {
              font-size: 2.8vw;
            }
            @include responsive($lg) {
              font-size: 0.8vw;
              margin-top: 2vw;
            }
          }
          .input {
            border: none;
            border-bottom: 1px solid #1d3858;
            background-color: transparent;
            margin-top: 2vw;
            width: 85vw;
            font-size: 0.8vw;
            outline: none;
            font-family: "Montserrat";
            color: #876745;
            @include responsive($lg) {
              width: 35vw;
            }
          }
        }
      }
      .contact-info {
        // position: relative;
        // width: 10%;
        img {
          @include responsive($lg) {
            // position: absolute;
            // top: 0;
            right: 0;
            width: 30vw;
            // margin-right: -10vw;
            z-index: -1;
          }
        }
        h2 {
          // position: absolute;
          font-family: "Mochiy Pop One", sans-serif;

          font-size: 1rem;
          color: #FFFFFF;
          text-align: center;
          @include responsive($lg) {
            font-size: 2rem;
          }
        }
        p {
          text-align: center;
          font-size: 0.8rem;
          font-family: "Montserrat";
          color: #FFFFFF;
        }
        .home-social-links {
          display: grid;
          place-items: center;

          .soc-links {
            display: flex;
            align-items: center;
            margin-top: 2vw;
            @include responsive($lg) {
              margin-top: 0vw;
            }
            gap: 1.5vw;

            a {
              img {
             
                @include responsive($lg) {
                  display: flex;
                  gap: 0.5rem;              
                  width: 1rem;
                }
              }
            }
          }
        }
      }
    }
  }
}
