.login-process {
  display: grid;
  place-content: center;
  margin-bottom:8rem ;
}
.thankyou-wrapper {
  width: 100%;
  height: auto;
  margin: auto;
  background: #ffffff;
  padding: 10px 0px 50px;
}
.thankyou-wrapper h1 {
  font: 100px Arial, Helvetica, sans-serif;
  text-align: center;
  color: #333333;
  padding: 0px 10px 10px;
}
.thankyou-wrapper p {
  font-size: 1rem;
  margin-bottom: 3rem;
  text-align: center;
  font-family: "Montserrat";
  text-align: center;
  color: #333333;
  padding: 5px 10px 10px;
}
.thankyou-wrapper {
 display: grid;
 place-items: center;
}
.thankyou-wrapper a:hover {

}
